{
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          ["parent", "index", "sibling"],
          "object"
        ],
        "warnOnUnassignedImports": true,
        "newlines-between": "never",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
